* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #fffefc;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.first-page {
    height: 100vh;
    position: relative;
    background-color: #fffefc;
    border-bottom: 1px solid grey;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
}


.top-nav{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    top:20px;
    z-index: 100;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px   rgba(86, 82, 82, 0.844);
    width:600px;
    border-radius: 10px;
    padding: 1px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(
        120deg,
        rgba(242, 239, 239, 0.3),
        rgba(64, 62, 62, 0.2)
    );

    
}
ul{
    margin: 20px;
    padding: 0;
}
.align ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 10px;
    
}

.align ul li{
    padding:3px;
    border:1px solid transparent;
    border-radius:3px ;
}

.call-btn{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: black;
    border: none;
    width: 30px;
    height: 27px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    
}
.call-btn-a{
    width:130px;
    color: white;
    border: none;
    height: 34px;
    padding: 0;
    margin-left: 10px ;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background:linear-gradient(46deg,rgb(119, 116, 116),rgb(46, 44, 44));

}
.call-btn-a:hover{
    background-position: right center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),
                0 0 3px rgba(0, 0, 0, 0.2),
                0 0 4px rgba(0, 0, 0, 0.3),
                0 0 4px rgba(0, 0, 0, 0.2);
}
.whole{
    height: 80vh;
    width: 100vw;
    display: flex;
    position: absolute;
    top: 20vh;
}
.left{
    width: 50%;
    height: 100%;
    
}
.rigth{
    width: 50%;
    height: 100%;
    position: relative;
}
h1{
    font-size: 4.2rem;
    margin-left: 100px;
    margin-top:40px;
    background: linear-gradient(to right, rgb(74, 76, 74),rgba(4, 3, 3, 0.917));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color:white


}
.head{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 2.1rem;
    color:black;
}
h3{
    font-size: 0.9rem;
    color:black;
}
fieldset {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding:10px;
  width: 600px;
  margin-left:100px
  
  
}

legend {
  background-color: transparent; 
  color: rgb(0, 0, 0);
  font-weight: bold; 
padding: 0 10px; 

}
.lets-chat{
    width:140px;
    height: 40px;
    margin-left: 100px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(24, 21, 21);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.lets-chat:hover{
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.3),
                0 0 3px rgba(0, 0, 0, 0.2),
                0 0 4px rgba(0, 0, 0, 0.3),
                0 0 4px rgba(0, 0, 0, 0.2);
}
.image-container{
    position: absolute;
    height:500px;
    width: 340px;
    top:40px;
    left: 140px;
    border-radius: 50%;
    transform: translatey(-70px);    
}

.image-container .portfolio-image{
    position: relative;
    top:70px;
    left: 9px;
    border-radius: 20px;
    width: 95%;
    height: 95%;
  

}
.show{
    margin-left:100px;
    border:transparent;
    border-radius: 40px;
    padding:6px;
    background-color: rgba(181, 185, 189, 0.9);

}
.underfie{
    margin-left: 100px;
    margin-top: 20px;
    width: 350px;
}
#location{
    margin-right:10px;
    text-decoration: none;
}
#status{
    margin-left:10px;
    text-decoration: none;
}
.lets-chat-a{
    width:140px;
    height: 40px;
    margin-left: 20px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}
.lets-chat-a:hover{
    box-shadow: 2px 2px 2px;
}

#download {
    margin-right:5px;
   
    font-size: 1rem;
    font-weight:bold;    
}

#lets-chat{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
    
}

.line-break{
    margin-left:100px;
    margin-top:30px;
    z-index: 40;
    border-bottom: 1px solid grey ;
    width:50%;
    height: 5px;


}
.nav-icon{
    display: flex;
    position: relative;
    top: 670px;
    left: 100px;
}
.nav-icon ul{
    display: flex;
    position: relative;
    list-style: none;
    bottom: 22px;


}
.nav-icon ul li {
    margin-right: 30px;
    border: 1px transparent;
    border-radius: 20px;
    padding: 5px;
    font-size: 10px;
}
.nav-icon ul li:hover {
    position: relative;
    bottom:5px;
    transition: ease 0.25s;
}

#about-me { 

    margin-top:130px;
    margin-left:100px;
    font-size: 20px;
}

#phrase { 
    margin-top:40px;
    font-size: 50px;

}
.second-page {
    height: 100vh;
    width: 100vw;
    display:flex;
    background-color: #fffefc;
}
.second-page-left {
    flex:1.5;
}

.second-page-rigth {
    flex:1;
}
.second-time {
    
    margin-top:30px;
    border-bottom:2px solid black ;
    margin-left: 100px;

}
.paragraph {
    height: 200px;
    width: 300;
    margin-left:100px
}
.drives {
    display: flex;
    height: 200px;
    width: 300;
    margin-left:100px;
    margin-bottom:50px;

}
.para-first {
    font-weight: 500;
    text-align: left;
}

.para-second {
    margin-top: 30px;
    font-weight: 500;
    text-align: left;

}
.first-box {
    padding: 0;
    flex:1.5;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 20px;

}
    
.second-box {
    flex:1;
    border:5px solid black;
    border-radius: 20px;
    margin-right: 20px;

}
.third-box {
    flex:1;
    border:5px solid black;
    border-radius: 20px;

}
.language-a{
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

#languageid-a {
    margin-top: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;

}

.language-b {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

#languageid-b {
    margin-top: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;

}
.language-c {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}

#languageid-c {
    margin-top: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;

}

.image-container-two {
    height: 50%;
    width: 70%;
    border: 4px solid black;
    border-radius:10px;
    margin-top: 240px;
    margin-left: 70px;
}
.portfolio-image-two {
    height: 100%;
    width: 100%;
    
}

.third-page {
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffefc;
    border-top: 1px solid black;
}

.third-page-header {
    width:100%;
    height: 180px;
    margin-top: 80px;



}
#third-page-head { 
    color:black;
    font-size: 3rem;
    margin-left: 0;
    text-align: center;

}
#third-page-head-para {
    text-align: center;
    margin-top: 10px;
    width:50%;
    margin-left: 25%;
}

#featured-hr {
    background-color: black;
    height: 3px;
    width: 100px;
    margin-top: 5px;
    margin-left: 47%;

}
.project-grid-container {

    margin-top: 15px;
    width: 100%;
    min-height: 0;

}
.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "box-1 box-2 box-3";
    gap:20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 90% ;
}
.project-card { 
    border: 1px solid black;
    background-color: white;
    border: 1px transparent;
    border-radius: 10px;
    

}

.image-count{
    padding: 20px;
    height: 50%;
    width: 100%;
    border: 1px transparent;
    border-radius: 10px;
}
.image-count img{
    height: 100%;
    width:100%;
    border: 1px transparent;
    border-radius: 10px;

}
.project-detalis{
    font-size: 2rem;
    text-align: left;
    margin:20px ;
}

.project-description{
    text-align: left;
    margin-left: 20px;

}
.technology-used{
    height: 50px;
    width: 300px;
    margin-top:20px;
    margin-left: 20px;
}
.technology-used-btn{
    height: fit-content;
    width: fit-content;
    padding:10px;
    margin-right:20px;
    background:linear-gradient(to right, rgb(74, 76, 74),rgba(4, 3, 3, 0.917));
    color: white;
    border: 1px transparent;
    border-radius: 6px;
}
.site{
    height: fit-content;
    width: fit-content;
    padding:10px;
    margin-left:20px;
    margin-top: 10px;
    border: 1px transparent;
    border-radius: 10px;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(74, 76, 74),rgba(4, 3, 3, 0.917));
    color: #fffefc;
}

#git{
    margin-right: 10px;
}

#chr{
    margin-right: 10px;
}

.site:hover{
    background-position: right center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),
                0 0 3px rgba(0, 0, 0, 0.2),
                0 0 4px rgba(0, 0, 0, 0.3),
                0 0 4px rgba(0, 0, 0, 0.2);
    position: relative; 
    bottom:3px           
}

.fourth-page{
    height: 100vh;
    border-top: 1px solid black;
    background-color: #fffefc;
}

.forth-page-header{
    width:100%;
    height: 10%;
    margin-top: 120px;
}
#forth-page-head{
    color:black;
    font-size: 3rem;
    margin-left: 0;
    text-align: center;

}
#featured-services-hr{
    background-color: black;
    height: 3px;
    width: 100px;
    margin-top: 5px;
    margin-left: 47%;
}

.services-container{
    height: 50%;
}

.services-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "box-4 box-5 box-6 box-7" ;
    gap:30px;
    margin-left:100px;
    margin-right:100px;
    height: 100%;

}
.services-card{
    border: 1px transparent;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(81, 79, 79, 0.768);
    position: relative; 
    overflow: hidden;

    
}
.services-card:hover{
    position: relative;
    bottom: 5px;
    transition: ease 0.3s;
    box-shadow: 10px 8px 25px rgba(81, 79, 79, 0.768);

}

.service-img-container{
    height: 60%;
    width:100%;
    position: relative;
    z-index: 1;

}

.service-img-container img{
    height: 100%;
    width:80%;
    margin-left: 30px;
    margin-right: 30px;
}
.service-description{
    font-weight: 50;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.service-details{
    margin-left:10px ;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size:20px ;
    text-align: center;
}
.comming-soon{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2px;
    border: 1px transparent;
    border-radius: 10px;
    background: linear-gradient(to right, #ff416dae, #ff4b2b6d);
    color: black;
    font-size: 2rem;
    font-weight: 1000;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.services-card:hover .comming-soon {
    opacity: 1;
    pointer-events: auto;
}



.get-in-touch{
    position: absolute;
    height: 10%;
    width: 40%;
    margin-top: 120px;
    margin-left:450px

}

.get-in-touch-des{
    position: relative;
    left: 150px;
    font-size: 3rem;
    color: rgba(161, 158, 158, 0.803);
    margin-bottom: 10px;

}
.get-in-touch-para{
    position: relative;
    left: 20px;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 20px;


}
.gmail-contact{

    margin-top: 100px;
    height: 36%;
    width:100%;
}


.fifth-page{
    height: 60vh;
    width: 100vw;   
    background-color: #fffefc;
    
}

.gmail-container{
    height: 90%;
    width: 100%;
    margin-top: 50px;

}

.grid-gmail-template{
    height: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "temp-1 temp-2";

}

.template-1{
    width: 100%;
    height: 100%;


}
#mail,#phone,#loca{
   margin:20px;
   color: rgba(95, 27, 95, 0.822);
}

.temp-para{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 1.3rem;
}
.temp-para-1{
    margin-top: 50px;
    margin-left: 150px;
    width: 600px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.links{
    display: flex;
    width: 200px;
    height: 60px;
    margin-left: 150px;
    margin-top: 30px;
    gap: 10px;
    padding: 5px;
}

.links a {
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    background: linear-gradient(to right, rgb(74, 76, 74), rgba(4, 3, 3, 0.917));
    color: white; 
}

.inner-div{
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 0px;
    height: 80%;
    width:90%;

}

#name-holder{
    margin-top: 70px;
    margin-left: 150px;
    width: 350px;
    height: 30px;

}
#email-holder{
    margin-left: 150px;
    width: 350px;
    height: 30px;

}
#message-holder{

    margin-left: 150px;
    width: 350px;
    height: 100px;
    padding: 8px;           
    font-family: 'Poppins', sans-serif; 
    font-size: 0.9rem;        
    resize: vertical;     
}
.submit-button{
    margin-top: 3px;
    margin-left: 150px;
    padding:8px;
    background: linear-gradient(to right, rgb(74, 76, 74), rgba(4, 3, 3, 0.917));
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 50;
}
.submit-button:hover{
     background-position: right center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),
                0 0 3px rgba(0, 0, 0, 0.2),
                0 0 4px rgba(0, 0, 0, 0.3),
                0 0 4px rgba(0, 0, 0, 0.2);
}

#featured-services-hr2{
    background-color: black;
    height: 3px;
    width: 100px;
    margin-top: 5px;
    margin-left: 35%;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}


body.dark-mode .first-page,
body.dark-mode .second-page,
body.dark-mode .third-page,
body.dark-mode .fourth-page,
body.dark-mode .fifth-page {
    background-color: #121212;
    color: #e0e0e0;
}


body.dark-mode .project-card,
body.dark-mode .services-card,
body.dark-mode .template-1,
body.dark-mode .glass-card {
    background-color: #1e1e1e; 
    border: 1px solid #333;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode h4 {
    color: #ffffff;
}

body.dark-mode p,
body.dark-mode .service-description,
body.dark-mode .project-description {
    color: #b0b0b0;
}

body.dark-mode input,
body.dark-mode textarea {
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #444;
}

body.dark-mode a {
    color: #ffffff; 
}

body.dark-mode h1{
     background: linear-gradient(to right, #2ffffc,#38b1af9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

body.dark-mode fieldset {
    border-color: #00fff9; 
}

body.dark-mode legend {
    color: #00fff9; 
}
body.dark-mode .lets-chat{
    background:linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
   
}
body.dark-mode .lets-chat:hover{
    background-position: right center;
    box-shadow: 0 0 2px rgba(213, 123, 123, 0.3),
                0 0 3px rgba(98, 125, 231, 0.2),
                0 0 4px rgba(232, 102, 102, 0.3),
                0 0 4px rgba(127, 71, 231, 0.2);
}

body.dark-mode .lets-chat-a{
    background-color: #444;
    color: white;

}
body.dark-mode .lets-chat:hover{
     box-shadow: 0 0 2px rgba(197, 195, 195, 0.3),
                0 0 3px rgba(98, 125, 231, 0.2),
                0 0 4px rgba(232, 102, 102, 0.3),
                0 0 4px rgba(127, 71, 231, 0.2);


}
body.dark-mode .submit-button{
    background:linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}
body.dark-mode .submit-button:hover{
    box-shadow: 0 0 2px rgba(197, 195, 195, 0.3),
                0 0 3px rgba(98, 125, 231, 0.2),
                0 0 4px rgba(232, 102, 102, 0.3),
                0 0 4px rgba(127, 71, 231, 0.2);
}
body.dark-mode .first-box,
body.dark-mode .second-box,
body.dark-mode .third-box {
    border: 3px solid transparent;
    background-image: linear-gradient(#1e1e1e, #1e1e1e), 
                      linear-gradient(45deg, #00fff9, #ff00c1);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 20px;
    color: white;
    
}
body.dark-mode .first-box:hover{
     box-shadow: 0 4px 15px rgba(0, 255, 249, 0.2);
}
body.dark-mode .second-box:hover{
     box-shadow: 0 4px 15px rgba(0, 255, 249, 0.2);
}
body.dark-mode .third-box:hover{
    box-shadow: 0 4px 15px rgba(0, 255, 249, 0.2); 
}

body.dark-mode .get-in-touch-des{
     background: linear-gradient(to right, #2ffffc,#38b1af9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
body.dark-mode .links a:hover {
    background: linear-gradient( 149.9deg,  rgba(41,151,255,1) 13.5%, rgba(191,90,242,1) 47.6%, rgba(255,55,95,1) 78.8% );
    color: rgb(0, 0, 0); 
    border-color: transparent; 
}
body.dark-mode .template-1.temp-para i{
    color: white;
}
